*.bak
.synkron.syncdb
*.launch
deployment
*.lock
/*.launch
/deployment/
/packages/
/releases/
/.mendix-cache/
/.classpath
/.project
/hackme.mpr.bak
/hackme.mpr.lock
/modeler-merge-marker
/project-settings.user.json
/javasource/*/proxies/
/javasource/system/
/**/node_modules/
!/javascriptsource/**/node_modules/
/nativemobile/builds/
