.layoutgrid-flex {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;

    &:before, &:after {
        display: none;
    }

    >.row {
        display: flex;
        margin-right: 0;
        margin-left: 0;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: flex-start;

        &:before, &:after {
            display: none;
        }

        >div[class*="col-"] {
            padding-left: 0;
            padding-right: 0;
            width: auto;
        }
    }
}
